<!DOCTYPE html>
<html>
  <head>
    <meta name="keywords" content="社区 论坛 学习 交流">
    <meta name="description" 
      content="本站">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <!-- 最上的横条，图标和登录 -->
    <div id="top"></div>
    <div id="mid"></div>
    <div id="foot"></div>
  </body>
</html>
